body {
  background: rgb(66, 66, 186);
}

h1, h2, p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 6em;
  color: #fff;
  text-align: center;
}

#cityName {
  margin-bottom: 0.5em;
}

.weatherContent {
  margin: 0 auto;
  padding: 5% 10%;
}

.weatherIcon > img {
  display: block;
  margin: 0 auto;

}

.weatherDetails > h2 > img {
  display: inline-block;
  margin: left;
}

.weatherDetails {
  text-align: center;
}

#tempSwitch {
  color: white;
  font-size: 4rem;
}
